html {
    height: 100%;
    margin: 10;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #959692;
}

#menu {
    margin-top: 50px;
    text-align: center;
}

#playing-area {
    display: none;
}

.caravan-row {
    display: flex;
    margin: 40px;
    justify-content: space-around;
}

.caravan-slot {
    height: 20vh;
    width: 20%;
    border-radius: 1rem;
    border-color: black;
    border-style: solid;
}

.card-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 20vh;
}

#player-hand img {
    cursor: grab;
}

img {
    max-width: 100%;
    height: auto;
}

nav {
    margin-top: 20px;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

li {
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    color: #007BFF;
}

a:hover {
    text-decoration: underline;
}